.markdown-toc {
  :global {
    nav.toc_nav {
      overflow-x: hidden;
      ol {
        width: inherit;
        li {
          list-style: none;
          padding-left: 0.8rem;
          line-height: 1.5em;
          margin-top: 0.5em;
          a {
            width: 100%;
            overflow-x: hidden;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
