.markdown-toc {
  :global {
    nav.toc_nav {
      overflow-x: hidden;
      ol {
        width: inherit;
        li {
          list-style: none;
          padding-left: 0.8rem;
          // line-height: 1.5em;
          // margin-top: 0.2em;
          &.toc-item-h2{
            margin-top: 0.6em;
            // border-bottom: 1px dotted currentColor;
            border-left: 1px dotted currentColor;
          }
          &.toc-item-h3{
            margin-top: 0.6em;
            // border-bottom: 1px dotted currentColor;
            border-left: 1px dotted currentColor;
          }
          &.toc-item-h4{
            margin-top: 0.6em;
            // border-bottom: 1px dotted currentColor;
            border-left: 1px dotted currentColor;
          }
          // toc-item
          a {
            opacity: 0.7;
            display: inline-block;
            color: inherit;
            text-underline-offset: 4px;
            transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill,
              stroke, opacity, box-shadow, transform, filter, backdrop-filter;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 0.15s;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            max-width: 100% ;
            &.toc-link-h1{
              font-weight: 600;
            }
            &.toc-link-h2{
              font-weight: 500;
            }

            &:hover{
              text-decoration: underline;
              color:inherit;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
