.info-col {
  position: relative;
  z-index: 1;
}

.inner-wrapper {
  /* position: absolute; */
  background-color: inherit;
  z-index: 1;
}
.info-col::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  left: -0.4rem;
  top: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  z-index: -1;
  /* border: 1px solid red; */
  background-color: inherit;

  /* border: 0.6rem solid transparent;
  border-right: 0.6rem solid; */
}
