@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  overflow: auto;
  float: left;
  margin: 0 10px;
  background: transparent;
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background: rgb(237, 236, 232);
}
.dark ::-webkit-scrollbar {
  background: rgb(14, 20, 31);
}
.dark ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.41);
}
/* @font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/ibm-plex-sans-var.woff2) format("woff2");
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: italic;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/ibm-plex-sans-var-italic.woff2) format("woff2");
}

@font-face {
  font-family: Fira Code;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/FiraCode.ttf) format("truetype");
} */

/* html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
} */

html{
  background-color: #000;
}